body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

#loginContainer {
  background-color: rgb(38, 0, 255);
  max-width: 400px;
  margin: 100px auto;
  padding: 40px;
  text-align: center;
  border-radius: 12px;
  border: 4px solid rgb(184, 174, 210);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

#loginTitle {
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

#inlogUsername,
#inlogPassword {
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  width: 100%;
  border: none;
  outline: none;
}

#loginRegister {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#registerButton,
#inlogButton {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

#registerButton {
  background-color: rgb(255, 0, 13);
}

#inlogButton {
  background-color: rgb(0, 255, 0);
}

#registerButton:hover,
#inlogButton:hover {
  opacity: 0.8;
}